.header {
display: flex;
align-items: center;
justify-content: space-between;
margin: 44px 32px;
}

.logo {
width: 145px;
height: 34,05px;
margin-top: 12px;
margin-bottom: 9.95px;
}

.search {
	font-family: Inter;
	width: 752px;
	height: 56px;
	outline: none;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.16);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 0px 14px;
	color: #FFFFFF;
	opacity: 0.64;
	border-style: none;
}

.profile {
	display: flex;
	align-items: center;
}

.img-profile {
	width: 32px;
	height: 32px;
}
.name-profile {
	font-family: Inter;
	margin-left: 8px;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}